body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:#dceafe;
}

.header {
    background: #0670d6;
    padding: 15px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hero {
    height: 70vh;
    background: url(images/daniel.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #063970;
    animation: alternate;
    animation-play-state: running;
    
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color:white;
    font-weight: 700;
    text-decoration: solid;
}

.hero-text p {
    font-size: 18px;
    color: white;
}

.hero-btn {
    margin-top: 15px;
    padding: 10px 25px;
    background: white;
    color: #0670d6;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.hero-btn:hover {
    background: #dceafe;
}

.container {
    padding: 40px;
    text-align: center;
}

.join-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    background: #0670d6;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.join-btn:hover {
    background: #044c95;
}